<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <!-- <input type="text" id="girls">
    <label for="girls">Девачки</label>

    <input type="text" id="boys">
    <label for="girls">Мальчеки</label>

    <input type="button" value="Решить"> -->


    <div id="enter_block">
        <div id="enter_block_content_wrapper">
            <div id="enter_block_content">
                <div id="enter_label_wrapper">
                    <h1>
                        Вход
                    </h1>
                </div>

                <div id="name_wrapper" class="inp_wrapper">
                    <input id="name_input" type="email" class="enter_input" placeholder="Почта">
                </div>

                <div id="email_wrapper" class="inp_wrapper error_input">
                    <input id="email_input" type="password" class="enter_input" placeholder="Пароль">
                </div>

                <div id="enter_btn_wrapper" class="btn_center_wrapper">
                    <button class="enter_btn" id="solve_btn">
                        Войти
                    </button>
                </div>



                <ul class="enter_help_links">
                    <li>писька</li>
                    <li>и сиська</li>
                </ul>


            </div>
        </div>

    </div>


    <script src="script.js"></script>


</body>
</html>