#courses_grid{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, 340px);
    column-gap: 50px;
    row-gap: 40px;
/* 
    padding-left: 25px;
    padding-right: 25px; */
}