.filter_param{
    user-select: none;
}

.filter_cb_custom{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #878787;
    border-radius: 5px;

}

.filter_inp{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

.filter_inp:checked + .filter_cb_custom{
    background-color: #408FFF;
}
